.background {
  viewport-fill: white;
}

#divider {
  fill: white;
}

#time {
  font-size: 80;
  font-family: System-Bold;
  letter-spacing: -5;
  text-length: 50;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: white;
}

#date {
  font-size: 34;
  font-family: System-Bold;
  letter-spacing: 1;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: white; 
}

.stat {
  font-size: 19;
  font-family: System-Bold;
  text-length: 19;
  x: 50%;
  y: 50%+40;
  fill: white;
}
